.companymission-text-main {
  display: flex;
}
.companymission-text {
  position: absolute;
  left: 85px;
  top: 849px;
}
.companymission-text-heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #ec1c24;
  margin-left: 760px;
  margin-top: 155px;
}
.cm-text-wrapper {
  font-weight: 500;
  font-size: 25px;
  line-height: 48px;
  color: #131d3b;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 760px;
  margin-top: 24px;
}
.cm-txt-wrapper{
    font-weight: 400;
font-size: 15px;
line-height: 32px;
color: #131D3B;
flex: none;
order: 1;
flex-grow: 0;
margin-left:760px;
margin-top:27px;
}
.cm-right-text{
    margin-right:85px;
}
