@import "./../../styles/variables";
.companymission-top{
  background-image:url(./image1.svg);
  background-size: cover;
  margin-bottom:10px;
}
.companymission-top-wrapper h1{
  color:$white;
  font-size:25px;
  font-weight: 600;
  text-align:center;
}
.companymission-vector1{
  padding-left:10%;
  padding-top:12%;
}
.companymission-vector2{
  padding-left:79%;
  padding-bottom:40px;
}
.companymission-button{
  padding:12px 30px;
  background-color: $color-11;
  color:$white;
  border:none;
  border-radius:4px;
  font-weight:400;
  font-size:14px;
}
.companymission-button:hover{
  cursor:pointer;
}
.companymission-button-wrapper{
  padding-bottom:8%;
  text-align:center;
}
.companymission-down{
  margin:15px;
}
.companymission-down-img{
  width:100%;
}
.companymission-heading{
  color: $primary-color;
  font-size:14px;
}
@media screen and (min-width:768px){
  .companymission-vector1{
    padding-left:27%;
    padding-top:12%;
  }
  .companymission-vector2{
    padding-left:68%;
    padding-bottom:40px;
  }
}
@media screen and (min-width: 998px){
.companymission-top-wrapper h1{
  font-size:46px;
}
}
@media screen and (min-width:998px) {
    .companymission-down {
        display: flex;
      }
 
  .companymission-head {
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
  }
  .companymission-bottom {
    flex: 50%;
  }
}

@media screen and (min-width:1024px){
    
    .companymission-down{
        padding-top:100px;
        padding-left:85px;
        padding-right:85px;
      }
      .company-down-img{
          height:350px;
          width:350px;
      }
      .companymission-bottom{
        margin-left:73px;
      }
      .companymission-text{
        font-size:12px;
      }
      .companymission-head{
        font-size:18px;
      }

}
@media screen and (min-width:1200px){
  .companymission-text{
    font-size:15px;
  }
  .companymission-head{
    font-size:22px;
  }
}
