.quality-heading{
    color:#4d519d;
    font-size:25px;
    padding:0 0 0 15px;
}
.quality-sub-heading{
    font-size:40px; 
    padding:0 0 0 15px;
}
.quality-block{
    font-size:20px;
    padding:10px;
}
.quality-block:hover{
    box-shadow: 0px 5px 28.5px 1.5px rgb(149 152 200 / 20%); 
}
#quality-p{
    font-size:15px;
}
img{
    max-width:100%;
}

@media screen and (min-width:998px){
    .quality-main{
        display:flex; 
        margin:15%;
     }
    .quality-card{
        display:flex;
    }
    .quality-block{
        font-size:22px;
        width:40%;
    }
    #quality-p{
        font-size:12px;
    }
    .quality-sub-heading{
        font-size:40px; 
    }
}