.Choose-container {
  background-image: url(./Choose-Images/ChooseBg.svg);
  background-size: cover;
  padding: 10px;
  margin: auto;
}

.Choose-span {
  background-image: linear-gradient(135deg, #846ff4 0%, #f17674 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 15px;
}
.Choose-header-1 {
  background-image: linear-gradient(35deg, #17ead9 0%, #6078ea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
  font-weight: bold;
}
.Choose-header-2 {
  margin-top: -10px;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}
.Choose-paragraph {
  margin-top: -10px;
  color: #9b9595;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.5px;
  text-align: center;
  justify-content: center;
}
.Choose-blocks {
  margin-top: 70px;
}
.Choose-rows {
  background-color: #fff;
  background-image: url(./Choose-Images/Choose-cards-bg.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 5px 40px 0 rgb(0 0 0 / 11%);
  padding: 20px;
}
.Choose-icons {
  margin-top: 10px;
  max-width: 100%;
}
.Choose-block-head {
  color: #222;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: left;
  font-weight: 400px;
}

.Choose-block-content {
  color: #888;
  line-height: 1.9;
  font-size: 15px;
  text-align: left;
  justify-content: center;
  font-weight: 400px;
  max-width: 100%;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 998px) {
  .Choose-blocks {
    display: flex;
  }
  #Choose-live-block {
    margin-right: 25px;
  }
  #Choose-service-block {
    margin-right: 25px;
  }
  .Choose-paragraph {
    max-width: 50%;
    padding-left: 25%;
  }
}
