@import "../../styles/variables";

.Choose-container {
  background-image: url(./Choose-Images/Choose-Bg.svg);
  background-position: center;
  background-size: cover;
  margin-top: 30px;
}

.Choose-span {
  background-image: linear-gradient(135deg, #846ff4 0%, #f17674 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 15px;
}
.Choose-header-1 {
  background-image: $gradientcolor-1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.5px;
}
.Choose-header-2 {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}
.Choose-paragraph {
  color: $color-9;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}
.Choose-blocks {
  margin-top: 60px;
}
.Choose-row {
  background-color: $white;
  background-image: url(./Choose-Images/Choose-cards-bg.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 5px 40px 0 rgb(0 0 0 / 11%);
  padding: 28px 20px;
  margin: 10px 10px 30px 10px;
}
.Choose-icon {
  margin-top: 10px;
  max-width: 100%;
  height: 75px;
  width: 75px;
  margin-bottom: 30px;
}
.Choose-block-head {
  color: $color-10;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: left;
  font-weight: 500;
}

.Choose-block-content {
  color: $color-9;
  line-height: 1.9;
  font-size: 14px;
  text-align: left;
  justify-content: center;
  font-weight: 400px;
  max-width: 100%;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 998px) {
  .Choose-container {
    margin-top: 60px;
  }
  .Choose-blocks {
    display: flex;
  }
  .Choose-header-2 {
    font-size: 30px;
  }
  #Choose-live-block {
    margin-right: 25px;
  }
  #Choose-service-block {
    margin-right: 25px;
  }
  .Choose-paragraph {
    padding: 0 17%;
  }
}
