$primary-color: #4d519d;
$white: #fff;
$black: #000;
$color-1: rgb(34, 116, 165);/*our tech experts component text color quality component text color*/
$color-2: rgb(26,24,27); /* quality component text color*/
$color-3:linear-gradient(135deg, cyan 0%, cyan 100%) !important;/*get in touch component contact us text color*/
$color-4: #d8d0d0;/*Getin Touch-paragraph text color*/
$color-5:#aaaacb;/* footer component row 3 text color*/
$color-6:#007cba;/* quality component  text hover color*/
$color-7:#4b4c58;/* tech component heading $ subheading text color*/
$color-8: red;/* tech component card text hover color*/
$color-9:#9b9595;/*why choose us component paragraph color*/
$color-10:#222;/*why choose us component card heading color*/
$color-11:#D2153D;/* Contact Us Button background*/
$color-12:#001ed3;
$gradientcolor-1: linear-gradient(35deg, #17ead9 0%, #6078ea 100%);/*why choose us text color*/
$gradientcolor-2: linear-gradient(135deg, #846ff4 0%, #f17674 100%);/*our awesome team text color*/
$gradientcolor-3: linear-gradient(to left, #5ea2d5 0%, #2a7aac 100%);/*work with us button color in banner component*/
$gradientcolor-4: linear-gradient(to left, #db8511 0%, #e63940 100%);/*read more button and text color in banner component and subcribe button color in GET in touch component*/