@import '../../styles/variables';

.about-main{
    background-color:$primary-color;
    color:$white;
    padding:20px 10px;
    margin-top:30px;
    border-radius:4px;
}
.text{
    font-size:13px;
}
.content-wrapper{
    font-size: 22px;
    font-weight: 300;
    max-width:220px;
}
.about-img{
    max-width:100%;
}
.about-count{
    font-size:48px;
}
.about-text{
    font-size:16px;
}
.about-content{
    animation-direction:alternate;
    position:relative;
}
@media screen and (min-width:998px){
    .about-main{
        display:flex;
        justify-content: space-between;
        margin-top:60px;
    }
    .about-img{
        width:100%;
        padding-bottom: 0px;
        flex:1;
    }
    .about-heading{
        font-size:20px;
    }
    .content-wrapper{
        font-size:38px;
        max-width: 380px;
    }
    .text{
        max-width:505px;
        font-size:15px;
    }
    .num-box-item{
        border-right: 1px solid $white;
        padding-right:30px;
    }
    .flex{
        display:flex;
        gap:30px;
    }
}
@media screen and (min-width:1400px){
    .about-main{
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }
}
