.about-main{
    background-color:#4d519d;
    color:white;
    padding:10px;
}
.text{
    font-size:13px;
}
.content-wrapper{
    font-size: 22px;
    font-weight: 300;
    max-width:220px;
}
.about-img{
    max-width:100%;
}
.about-count{
    font-size:48px;
}
.about-text{
    font-size:16px;
}
.about-content{
    animation-direction:alternate;
    position:relative;
    animation:content 5s 2;
    @keyframes content {
        30%{left:200px;}
    }
}
@media screen and (min-width:998px){
    .about-main{
        display:flex;
    }
    .about-img{
        width:100%;
        padding-bottom: 0px;
        flex:1;
    }
    .about-heading{
        font-size:20px;
    }
    .content-wrapper{
        font-size:38px;
        max-width: 380px;
    }
    .text{
        max-width:505px;
        font-size:15px;
    }
    .num-box-item{
        border-right: 1px solid white;
        padding-right:30px;
    }
    .flex{
        display:flex;
        gap:30px;
    }
    .about-content{
        flex:1;
    }
}
@media screen and (min-width:1400px){
    .about-main{
        justify-content: center;
        align-items: center;
    }
}
