.Touch-container {
  background: url(./Get-Bg.png);
  background-position: center;
  background-size: cover;
  padding: 80px 18px 90px;
}
.Touch-header-1 {
  background-image: linear-gradient(135deg, cyan 0%, cyan 100%) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-bottom: -10px;
  font-weight: bold;
}
.Touch-header-2 {
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 600;
}
.Touch-paragraph {
  color: #d8d0d0;
  font-weight: 400;
  font-size: 15px;
  justify-content: left;
  line-height: 1.9;
}
.Touch-input-wrapper {
  background-color: #fff;
  border-radius: 35px;
  padding: 15px;
  margin-top: 45px;
  max-width: 100%;
  box-shadow: 0 9px 68px 0 rgb(62 57 107 / 20%);
}

.Touch-input {
  border-radius: 25px;
  border: 1px solid #eee;
  font-size: 16px;
  width: 85%;
  outline: green;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 18px;
  padding: 10px 10px 10px 40px;
}
.Touch-input:focus {
  border: 1px solid green;
}

.Touch-button {
  color: white;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #ff4137 0,
    #fca336 51%,
    #ff4137 100%
  );
  transition: all 500ms;
  background-size: 200% auto;
  border: none;
  border-radius: 28px;
  padding: 0 20px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  min-width: 160px;
  height: 48px;
}
.Touch-button:hover {
  cursor: pointer;
  background-position: right center;
  color: #fff;
}
@media screen and (min-width: 996px) {
  .Touch-header-2 {
    font-size: 30px;
    font-weight: 600;
  }
  .Touch-container {
    margin: auto;
    padding: 50px 0px 100px 80px;
  }
  .Touch-paragraph {
    max-width: 45%;
    margin-bottom: -13px;
  }
  .Touch-input-wrapper {
    display: flex;
    max-width: 43%;
    height: 48px;
  }
  .Touch-input {
    margin-right: 12px;
    width: auto;
    padding-right: 100px;
  }
  .Touch-button {
    max-width: 100%;
  }
}
