.g-contactus-main{
    padding:60px 108px;
}
.g-contactus-header-wrapper{
    margin-bottom:54px;
}
.g-contactus-header{
    font-size:40px;
    font-weight:700;
    line-height:58.51px;
}
.g-contactus-locations-wrapper{
    display:grid;
    grid-template-columns:auto auto;
    gap:20px;
}
.g-contactus-body-header-wrapper{
    margin-top: 20px;
    margin-bottom:20px;
}
.g-contactus-body-header{
    font-size:24px;
    font-weight:700;
    line-height:29.26px;
}