.whyUs{
    background: #026B33;
    width: 100%;
}
.whyUs-main-heading{
    padding:20px 10px;
}
.whyUS-heading{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;   
    color: #FFFFFF;
    padding:0;
}
.whyUs-vector-img{
    position: absolute;
    width: 85px;
    height: 4px;
    background: #FFFFFF;
}
.whyUs-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #FFFFFF;
}
.whyUSImg2{
    width:80%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:20px;
}
.whyUs-left{
    padding:10px;
}
@media screen and (min-width:992px){
    .whyUs-main{
        display:flex;
        padding:10px;
        align-items:center;
    }
   .whyUSImg2{
        width:450px;
        height:40vh;
   }
   .whyUs-left{
    padding:0px;
    }
}
@media screen and (min-width:1440px){
    .whyUs-main{
        display:flex;
        padding:0px 100px 100px;
        align-items:center;
    }
   .whyUSImg2{
        width:450px;
        height:40vh;
   }
   .whyUs-main-heading{
    padding:100px 100px 0;
   }
}