@import "../../styles/variables";

.happyclients-main{
    margin:20px 10px 20px 20px;
}
.happyclients-heading{
    font-size:32px;
    font-weight:700;
    color:$black; 
}
.happyclients-vector{
    position: absolute;
    width: 85px;
    height: 4px;
}
.happy-clients{
    padding-top:35px;
}

.happyclients-details{
    padding-left:10px;
}
.happyclients-content{
    font-size:14px;
    font-weight:400;
    max-width:100%;
}
.happyclients-Name{
    font-size:18px;
    font-weight:600;
    color:$black;
}
.happyclients-video{
    width:100%;
    height:350px;
    padding-bottom:10px;
}
.happy2{
    padding-top:50px;
}
.happy-client-img{
    border-radius:5px;
}
.client2{
    padding-top:10px;
}
@media screen and (min-width: 425px){
    .client1{
        display:flex;
    }
    .client2{
        display:flex;
    }
}
@media screen and (min-width:576px){
    
    .happyclients-video{
        width:100%;
        height:300px;
        
    }
}
@media screen and (min-width:768px){
    .happy2{
        display:flex;
        justify-content: space-between;
    }
    .happyclients-video{
        width:220px;
        height:250px;
        
    }
}
@media screen and (min-width: 992px){
    .happyclients-main{
        margin:100px 50px 50px;
    }
    .happy-clients{
        padding-top:40px;
        display:flex;
    }
    .happyclients-video{
        width:250px;
        height:300px;
    }
    .happy2{
        display:flex;
        justify-content:space-between;
    }
   
}
@media screen and (min-width:1200px){
    .client2{
        padding-left:50px;
    }
    .happyclients-video{
        width:100%;
        height:300px;
    }
}
@media screen and (min-width:1400px){
    .happyclients-main{
        margin:300px 50px 50px;
    }
    .happyclients-video{
        width:400px;
        height:300px;
    }
}