@import "../../styles/variables";

.Contactus-header {
  background-image: url(./Contactus-images/Contact-img.svg);
  background-size: cover;
  padding: 6% 15%;
}
.Contactus-header1 {
  color: $white;
  font-size: 30px;
  line-height: 0.7;
  font-weight: 600;
}
.Contactus-header2 {
  color: $white;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.Contactus-form {
  padding: 4% 15%;
}
.Contactus-input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.14);
  background: $white;
  margin-bottom: 12px;
  width: 90%;
}
#Contactus-input5 {
  padding-bottom: 35px;
}
.Contactus-input:hover {
  cursor: pointer;
  border: 1px solid $primary-color;
}
.Contactus-button {
  padding: 12px 25px 12px 12px;
  background: $color-11;
  border: none;
  color: $white;
  border-radius: 8px;
}
.Contactus-button:hover {
  cursor: pointer;
  border: 1px solid $black;
}
.Contactus-company-info {
  padding: 0 15%;
}
.Contactus-footer-wrapper {
  padding-top: 4%;
}
.Contactus-address-wrapper {
  padding: 2px 8px;
}
.Contactus-address-wrapper:hover {
  box-shadow: 0px 2px 25px rgba(0, 33, 91, 0.2);
  border-left: 4px solid $color-11;
}
#Contactus-address-wrapper2 {
  margin-top: 12px;
}
#Contactus-address-wrapper3 {
  margin-top: 12px;
}
.Contactus-location-content {
  font-weight: 400;
  text-align: left;
  justify-content: left;
}
.Contactus-address-headers {
  font-weight: 300;
  color: $color-9;
  text-align: left;
}
.Contactus-caller-icon {
  float: left;
  padding: 5px;
  width: 20px;
  background-color: $color-11;
}
.Contactus-message-icon {
  float: left;
  padding: 5px;
  width: 20px;
  background-color: $color-12;
}
.Contactus-list {
  list-style: none;
  font-size: 10px;
  padding-left: 50px;
  justify-content: left;
}
.Contactus-map iframe {
  width: 100%;
  height: 200px;
}
@media only screen and (min-width: 998px) {
  .Contactus-header1 {
    font-size: 40px;
  }
  .Contactus-form1 {
    display: flex;
  }
  .Contactus-form2 {
    display: flex;
  }
  #Contactus-input1 {
    margin-right: 18px;
  }
  #Contactus-input3 {
    margin-right: 18px;
  }
  #Contactus-input5 {
    width: 96%;
  }
  .Contactus-input {
    margin-bottom: 18px;
    padding: 16px;
  }
  .Contactus-footer-wrapper {
    display: flex;
  }
  .Contactus-address-wrapper {
    width: 100%;
  }
  #Contactus-address-wrapper1 {
    margin-right: 18px;
  }
  #Contactus-address-wrapper2 {
    margin: 0 18px 0 0;
  }
  #Contactus-address-wrapper3 {
    margin: 0;
  }
  .Contactus-list {
    font-size: 14px;
  }
  .Contactus-map iframe {
    height: 400px;
  }
}
@media screen and (min-width: 1330px) {
  #Contactus-input5 {
    width: 97%;
  }
}
