.culture-head1{
    border-bottom :4px solid #026b33;
}
.culture-main{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.our-culture-main{
    background-color: #FAFAFA;
    margin-top:10px;
}
.culture-description{
    font-weight: 400;
font-size: 14px;
line-height: 24px;
}

@media screen and (min-width:998px){
    .culture-container{
        display:flex;
        gap:55px;
    }
    .culture-img-wrapper{
        width:490px;
        height:289px;
    }
    .our-culture-main{
        margin-top:20px;
        margin-bottom:20px;
        padding-left:108px;
        padding-right:108px;
    }
}