@import '../../styles/variables';
.footer-a{
  color:white;
}
.footer-main-container {
  background-color: $primary-color;
  width: 100%;
  margin-top: 15px;
}
.footer-container-1 {
  padding-top: 10px;
  margin: 16px;
  letter-spacing: 1px;
}
.footer-container-1 .footer_logo {
  width: 170px;
  border: 1px solid $primary-color;
}
.footer-container-1 h1 {
  font-size: 14px;
  color: $white;
  font-weight: 400;
}
.footer-container-1 p {
  font-size: 12px;
  color: $white;
}
.footer-container-2 {
  margin: 16px;
  letter-spacing: 1px;
  color: $white;
}
.footer-container-2 .content {
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-container-2 .links .link_1{
  font-size: 14px;
  font-weight: 500;
  display: block;
  color: $white;
}
.footer-container-3 {
  margin: 16px;
  letter-spacing: 1px;
}
.footer-container-3 h2{
  font-size: 24px;
  font-weight: 700;
  color: $white;
  
}
.footer-container-3 .content_1{
  font-size: 16px;
  font-weight: 500;
  color: $white;
  padding-bottom: 5px;
}
.footer-container-3 .content_2{
  font-size: 14px;
  font-weight: 400;
  color: $color-5;
  padding-bottom: 15px;
}
.footer-container-3 .content_3{
  font-size: 16px;
  font-weight: 500;
  color: $white;
  padding-bottom: 5px;
}
.footer-container-3 .content_4{
  font-size: 14px;
  font-weight: 400;
  color: $color-5;
  
}
.footer-container-4 {
  margin: 16px;
  letter-spacing: 1px;
}
.footer-container-4 h4{
  font-size: 24px;
  font-weight: 700;
  color: $white;
}
.footer-container-4 p{
  font-size: 12px;
  font-weight: 400;
  color: $white;
}
.footer-container-4 .footer-email {
margin:5px;
}
.footer-container-4 .footer-email input[type="email"]{
  display: inline-block;
  width: 100%;
  padding: 18px 36px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 35px;
  margin-top: 18px;
  border-radius: 5px;
  border: 1px solid $primary-color;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.06); 

}
.footer-container-4 .footer-email input,
input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 3;
  color: $primary-color;
  font-style: italic;
}
.footer-container-4 .footer-email .button {
  margin-left: -100px;
  font-size: 12px;
  display: inline-block;
  font-weight: 600;
  padding: 8px 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color:$primary-color;
  color: $white;
}


/* media screen above 992 px */
@media screen and (min-width: 992px) {
  .footer-main-container {
    width: 100%;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    margin-top:60px;
  }
  .footer-container-1 {
    padding-left: 120px;
    flex-grow: 3;
    max-width: 350px;
    margin: 0px;
    padding-top:0px ;
  }
  .footer-container-1 .footer_logo {
    width: 150px;
  }
  .footer-container-1 p{
   font-size: 14px;
  }
  .footer-container-1 h1{
    font-size: 10px;
  }
  .footer-container-2 {
    padding-left: 15px;
    padding-right:15px;
    margin: 0px;
  }
  .footer-container-2 .content {
    padding: 0px;
    margin: 0px;
  }
  .footer-container-2 .links .link_1 {
    font-weight: 500;
    display: block;
    width: 100px;
    list-style: none;
    margin-top: 5px;
  }
  .footer-container-3 {
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    padding-top: 0px;
  }
  .footer-container-3 h2{
    font-size: 24px;
    margin: 0px;
  }
  .footer-container-4 {
    padding-left: 15px;
    padding-right: 100px;
    flex-grow: 3;
    margin: 0px;
    
  }
  .footer-container-4 h4{
    font-size: 24px;
    padding: 0px;
    margin: 0px;
  }
  .footer-container-4 p{
    font-size: 12px;
    max-width: 250px;
  }
  .footer-container-4 .footer-email {
  margin:5px;
  }
  .footer-container-4 .footer-email input[type="email"]{
    display: inline-block;
    width: 90%;
    padding: 16px 36px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 35px;
    margin-top: 18px;
    border-radius: 5px;
    border: 1px solid $primary-color;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.06); 
  }
  .footer-container-4 .footer-email input,
  input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 3;
    color: $primary-color;
    font-style: italic;
  }
  .footer-container-4 .footer-email .button {
    margin-left: -80px;
    font-size: 10px;
    display: inline-block;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color:$primary-color;
    color: $white;
  }
}