.main-card{
    margin-top:20px;
    margin-bottom:20px;
    padding: 40px 20px;
}
.tech-content{
    text-align: center;    
    padding:0 9% 0 9%;
}
.tech-sub-heading{
    padding: 0 5%;
    font-size:18px;
    font-weight:200;
    line-height:27px;
    text-align:center;
    margin:18px;
}
.tech-heading{   
    padding:0 15%;
    font-size:28px;
    font-weight:350;
    text-size-adjust:100%;
    text-align:center;
    color: #1a181b;
   
}
.tech-card{
    box-shadow: 0px 5px 28.5px 1.5px rgb(149 152 200 / 20%);
    text-align:center;
    display:inline-block;
    border-radius:8px; 
    padding:20px; 
    color:#4d519d;
    margin: 10px 10px 30px 10px;
}
.tech-card-content{
    opacity:1;
    color:rgb(34,116,165);
    font-size:15px;
    text-align:center;
    padding:0 26% 0;
}
h4{
    font-size:20px;
}
.tech-card:hover h4{
    color:red;
}
@media screen and (min-width:998px){
    .tech-content{
        max-width:100%;
        text-align:center;
    }   
    .tech-card{
        box-shadow: 0px 5px 28.5px 1.5px rgb(149 152 200 / 20%);
        display:inline-block;
        box-sizing:boreder;
        font-size:16px;
        font-weight:400;
        line-height:24px;
        text-align:center;
        text-size-adjust:100%;
        border-radius:8px;
        margin:10px;
    }
    .main-card{    
        margin:60px ;     
        display:center;
        margin-top:60px;
    }
    .tech-cards{
       display:flex;
    }
    .tech-heading{   
        font-size:35px;
        font-weight:300;
        text-align:center;
        color: #1a181b;      
    }
    .tech-sub-heading{
        font-size:18px;
        font-weight:200;
        line-height:27px;
        text-align:center;
        margin:18px;
        
    }
    .tech-card-content{
        font-size:15px;
        font-weight:400;
        line-height:24px;
        color:rgb(34,116,165);
    }
    h4{
        font-size:20px;
    }
}