.yourdream-house {
    display: flex;
    flex-direction: column;
  }
  
  .yourdream-house-left {
    padding: 10px;
    width: 100%;
  }
  
  .yourdream-house-left-heading h1{
    font-size: 36px;
    font-weight: 700;
    margin-top: 0.5rem;
  }
  
  .yourdream-house-left-content p{
    font-size: 14px;
    font-size: 400;
    margin-top: 1.2rem;
  }
  
  .yourdream-house-button {
    margin-top: 2rem;
    padding-left: 0px;
  }
  
  .yourdream-house-button{
    background-color: #026B33;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
  }

  .yourdream-house-left-button {
    background-color: white;
    border-radius: 20px;
    padding: 6px 10px;
    width: 50px;
    border: 1px solid rgb(180, 176, 176);
    margin-top: 49px;
  }
  .yourdream-house-left img {
    width: 21px;
  }
  .yourdream-house-right-button {
    background-color: transparent;
    border-radius: 20px;
    padding: 6px 10px;
    width: 50px;
    border: 1px solid rgb(180, 176, 176);
    margin-top: 49px;
    margin-left: 267px;
  }
  .yourdream-house-right image {
    width: 21px;
  }
  .yourdream-house-right-image {
    position: relative;
    width: 100%;
    height: 250px;
    padding: 10px;
    border: 1px silod#fff;
    border-radius: 20px;
  }
  
  @media screen and (min-width: 988px) {
    .yourdream-house {
      display: flex;
      flex-direction: row;
      margin-bottom: 120px;
    }
  
    .yourdream-house-left {
      padding: 0px;
      margin-left: 108px;
      margin-right: 30px;
      flex: 50%;
      margin-top: 6rem;
    }
  
    .yourdream-house-left-heading {
      font-size: 48px;
      font-weight: 700;
      line-height: 52px ;
    }
  
    .yourdream-house-left-content {
      font-size: 14px;
      font-size: 400;
      margin-top: 2.4rem;
    }
    .improving-contactus-button {
        margin-top: 4rem;
    }
  
    .yourdream-house-right {
      flex: 50%;
      margin: 0px 108px 0px 30px;
    }
  
    .yourdream-house-right-image {
      position: relative;
      width: 100%;
      height: auto;
      padding: 0px;
      margin-top: 7rem;
    }
  }