@import "../../styles/variables";

.culture-heading{
    color:$color-8;
    font-size:22px;
    font-weight:400;
    padding-top:20px;
    padding-left:20px;
}
#culture-ulist{
    list-style:none;
}
#company-li::before{
    content:"\2022";
    color:$color-8;
    display: inline-block;
    width:1em;
    margin-left:-1em;
    font-size:1.5rem;
    font-weight:bolder;
}
.culture-img{
    width:100%;   
 }
 #company-li{
    margin-bottom:10px;
    font-size:18px;
    font-weight:400;
    color:#131D3B;
    line-height:40px;
}
@media screen and (min-width:1024px){
    .culture-about-main{
        display:flex; 
        justify-content:space-between;
        margin:5%;
    }
    .culture-img{
        width:450px;
        height:450px;
    }
    #company-li{
        padding-bottom:10px;
        font-size:15px;
        line-height:40px;
    }
}
@media screen and (min-width:1440px){
.culture-img{
   width:602px;
   height:594px;
  
}
.culture-heading{
    padding:50px 25px 30px;
    
}
#company-li{
    padding-bottom:20px;
    font-size:18px;
    line-height:40px;
}
}
