@import "../../styles/variables";

.ourTeam-card-container {
  background-color: $white;
  margin-top: 30px;
}
.ourTeam-card-container h1 {
  font-size: 20px;
  text-align: center;
  background-image: $gradientcolor-2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ourTeam-card-container h2 {
  font-size: 28px;
  text-align: center;
  margin-top: -10px;
}
.ourTeam-card-container p {
  font-size: 16px;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}
/* Float four columns one by one */
.ourTeam-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ourTeam-column {
  flex: 100%;
  padding: 25px 15px 0px 15px;
  display: block;
  justify-content: center;
}
.ourTeam-card {
  border: 1px solid $primary-color;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  background-color: transparent;
  border-radius: 18px;
}
.ourTeam-card img {
  margin-top: 30px;
  max-width: 80%;
  border-radius: 50%;
  justify-content: center;
  border: 3px dashed $primary-color;
}
.ourTeam-card h3 {
  padding-top: 10px;
  color: $primary-color;
  font-size: 16px;
  font-weight: 700;
}
.ourTeam-card h4 {
  font-size: 14px;
  font-weight: 500;
  color: $black;
  padding-bottom: 15px;
}
.ourTeam-card {
  position: relative;
  overflow: hidden;

  .social-icons {
    list-style: none;
    text-decoration: none;
    padding: 20px 10px;
    width: auto;
    position: absolute;
    background: #e83e8c;
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    transition: 0.3s all;
    top: -270px;
    z-index: 2;
    right: 17px;

    img {
      width: 25px;
    }
  }

  &:hover {
    .social-icons {
      top: -17px;
    }

    img {
      position: relative;
      &::after {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
  }
}
/* media screen above 320px */
@media screen and (min-width: 320px) {
  .ourTeam-card h3 {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 700;
  }
  .ourTeam-card h4 {
    font-size: 12px;
  }
}
/* media screen above 375px */
@media screen and (min-width: 375px) {
  .ourTeam-card h3 {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 700;
  }
  .ourTeam-card h4 {
    font-size: 14px;
  }
}
/* media screen above 425px */
@media screen and (min-width: 425px) {
  .ourTeam-card h3 {
    font-size: 16px;
    font-weight: 700;
  }
  .ourTeam-card h4 {
    font-size: 14px;
  }
}
/* media screen above 576px */
@media screen and (min-width: 576px) {
  .ourTeam-column-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
  }
  .ourTeam-column {
    padding: 25px 5px 0px 5px;
    flex: 1 0 48%;
  }
  .ourTeam-card h3 {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 700;
  }
  .ourTeam-card h4 {
    font-weight: 500;
    font-size: 14px;
  }
}
/* media screen above 656px */
@media screen and (min-width: 656px) {
}
/* media screen above 768px */
@media screen and (min-width: 768px) {
  .ourTeam-column-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
  }
  .ourTeam-column {
    padding: 25px 5px 0px 5px;
    flex: 1 0 20%;
  }
  .ourTeam-card h4 {
    font-size: 10px;
  }
}
@media screen and (min-width: 896px) {
  .ourTeam-column {
    padding: 25px 10px 0px 10px;
    flex: 1 0 20%;
  }
  .ourTeam-card h4 {
    font-size: 10px;
  }
  .ourTeam-card-container {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .ourTeam-card h3 {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 700;
  }
  .ourTeam-card h4 {
    font-size: 14px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .ourTeam-column {
    padding: 25px 10px 0px 10px;
    flex: 1 0 20%;
  }
  .ourTeam-card {
    width: 80%;
    height: auto;
    position: relative;
    text-align: center;
  }
  .ourTeam-card h3 {
    padding-top: 2px;
    font-size: 15px;
    font-weight: bold;
  }
  .ourTeam-card h4 {
    font-weight: 500;
  }
}
@media screen and (min-width: 2560px) {
  .ourTeam-card h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .ourTeam-card h4 {
    font-weight: 500;
    font-size: 18px;
  }
}
