.ourTeam-card-container {
  background-color: #fff;
}
.ourTeam-card-container h1 {
  font-size: 20px;
  padding-left: 35%;
}
.ourTeam-card-container h2 {
  font-size: 28px;
  padding-left: 30%;
  padding-top: 3%;
}
.ourTeam-card-container p {
  font-size: 16px;
  padding-left: 80px;
  padding-right: 30px;
}
/* Float four columns one by one */
.ourTeam-column-container{
  margin-left: 20px ;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.ourTeam-column {
  width: 60%;
  display: block;
  margin-top: 50px;
}
.ourTeam-card {
  border: 1px solid #4d519d;
  padding: 10px;
  height: 290px;
  text-align: center;
  background-color: transparent;
  border-radius: 18px;
}
.ourTeam-card:hover {
  transform: translateY(-15px)
}
.ourTeam-card img{
  width: 75%;
  border-radius: 50%;
  border: 5px dotted #4d519d;
}
.ourTeam-card h3{
  padding-top: 2px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
}
.ourTeam-card h4 {
  font-size: 14px;
  font-weight: 500;
}
/* Responsive columns */
/* media screen above 450px */
@media screen and (min-width: 450px) {
  
  .ourTeam-column-container{
    margin-left: 60px ;
    display: flex;
    flex-direction: row;
  }
  .ourTeam-column {
    width: 35%;
    display: block;
    margin-top: 50px;
    padding: 20px;
  }
  .ourTeam-card {
    border: 1px solid #4d519d;
    padding: 10px;
    height: 250px;
    text-align: center;
    background-color: transparent;
    border-radius: 18px;
  }
  .ourTeam-card:hover {
    transform: translateY(-15px)
  }
  .ourTeam-social-media {
    font-size: 5px;
    padding-left: 30px;
    flex-flow: column;
  } 
  .ourTeam-card img{
    width: 80%;
    border-radius: 50%;
    border:  6px dotted #4d519d;
    
  }
  .ourTeam-card h3{
    padding-top: 2px;
    font-size: 14px;
    font-weight: bold;
  }
  .ourTeam-card h4 {
    font-size: 10px;
    font-weight: 500;
  }
}
/* media screen above 662px */
@media screen and (min-width: 550px) {
  
  .ourTeam-column-container{
    margin-left: 90px ;
    display: flex;
    flex-direction: row;
  }
  .ourTeam-column {
    width: 35%;
    display: block;
    margin-top: 50px;
    padding: 30px;
  }
  .ourTeam-card {
    border: 1px solid #4d519d;
    padding: 10px;
    height: 280px;
    text-align: center;
    background-color: transparent;
    border-radius: 18px;
  }
  .ourTeam-card:hover {
    transform: translateY(-15px)
  }
  .ourTeam-social-media {
    font-size: 5px;
    padding-left: 30px;
    flex-flow: column;
  } 
  .ourTeam-card img{
    width: 65%;
    border-radius: 50%;
    border:  6px dotted #4d519d;
    
  }
  .ourTeam-card h3{
    padding-top: 2px;
    font-size: 15px;
    font-weight: bold;
  }
  .ourTeam-card h4 {
    font-weight: 500;
  }

}
/* media screen above 690px */
@media screen and (min-width: 690px) {
  
  .ourTeam-column-container{
    margin-left: 140px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ourTeam-column {
    width: 35%;
    display: block;
    margin-top: 50px;
    padding: 20px;
  }
  .ourTeam-card {
    border: 1px solid #4d519d;
    padding: 10px;
    height: 270px;
    text-align: center;
    background-color: transparent;
    border-radius: 18px;
  }
  .ourTeam-card:hover {
    transform: translateY(-15px)
  }
  .ourTeam-social-media {
    font-size: 5px;
    padding-left: 30px;
    flex-flow: column;
  } 
  .ourTeam-card img{
    width: 75%;
    border-radius: 50%;
    border:  6px dotted #4d519d;
    
  }
  .ourTeam-card h3{
    padding-top: 6px;
    font-size: 15px;
    font-weight: bold;
  }
  .ourTeam-card h4 {
    font-weight: 500;
  }

}
/* media screen above 812px */
@media screen and (min-width: 812px) {
  
  .ourTeam-column-container{
    margin-left: 100px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ourTeam-column {
    width: 35%;
    display: block;
    margin-top: 50px;
    padding: 40px;
  }
  .ourTeam-card {
    border: 1px solid #4d519d;
    padding: 30px;
    height: 270px;
    text-align: center;
    background-color: transparent;
    border-radius: 18px;
  }
  .ourTeam-card:hover {
    transform: translateY(-15px)
  }
  .ourTeam-social-media {
    font-size: 5px;
    padding-left: 30px;
    flex-flow: column;
  } 
  .ourTeam-card img{
    width: 75%;
    border-radius: 50%;
    border:  6px dotted #4d519d;
    
  }
  .ourTeam-card h3{
    padding-top: 2px;
    font-size: 15px;
    font-weight: bold;
  }
  .ourTeam-card h4 {
    font-weight: 500;
  }

}
/* media screen above 992px */
 @media screen and (min-width: 992px) {
  
  .ourTeam-card-container h1 {
    font-size: 20px;
    padding-left: 45%;
  }
  .ourTeam-card-container h2 {
    font-size: 28px;
    padding-left: 42%;
    padding-top: 20px;
  }
  .ourTeam-card-container p {
    font-size: 20px;
    padding-left: 80px;
    padding-right: 30px;
  
  }
  .ourTeam-column {
    float: left;
    width: 18%;
    padding: 0 25px;
  }
  .ourTeam-column-container {
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ourTeam-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 240px;
    text-align: center;
    background-color: transparent;
    box-shadow: 0px 0px 5px 0px #4d519d;
    border-radius: 18px;
  }
  .ourTeam-card img{
    width: 75%;
    border-radius: 50%;
    border:  6px dotted #4d519d;
  }
  .ourTeam-card h3{
    padding-top: 2px;
    font-size: 15px;
    font-weight: bold;
  }
  .ourTeam-card h4 {
    font-weight: 500;
  }

}
@media screen and (min-width: 1265px) {
  .ourTeam-column {
    float: left;
    width: 20%;
    padding: 0 25px;
  }
  .ourTeam-column-container {
    margin-left: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ourTeam-card-container h1 {
    font-size: 20px;
    padding-left: 45%;
  }
  .ourTeam-card-container h2 {
    font-size: 28px;
    padding-left: 42%;
    padding-top: 20px;
  }
  .ourTeam-card-container p {
    font-size: 20px;
    padding-left: 80px;
    padding-right: 30px;
  }
  .ourTeam-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 300px;
    text-align: center;
    background-color: transparent;
    box-shadow: 0px 0px 5px 0px #4d519d;
    border-radius: 18px;
  }
  .ourTeam-card img{
    width: 70%;
    border-radius: 50%;
    border:  6px dotted #4d519d;
  }
  .ourTeam-card h3{
    padding-top: 2px;
    font-size: 15px;
    font-weight: bold;
  }
  .ourTeam-card h4 {
    font-weight: 500;
  }

}
@media screen and (min-width: 1890px) {
  .ourTeam-column {
    float: left;
    width: 20%;
    padding: 0 25px;
  }
  .ourTeam-column-container {
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ourTeam-card-container h1 {
    font-size: 20px;
    padding-left: 45%;
  }
  .ourTeam-card-container h2 {
    font-size: 28px;
    padding-left: 42%;
    padding-top: 20px;
  }
  .ourTeam-card-container p {
    font-size: 20px;
    padding-left: 80px;
    padding-right: 30px;
  }
  .ourTeam-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 380px;
    text-align: center;
    background-color: transparent;
    box-shadow: 0px 0px 5px 0px #4d519d;
    border-radius: 18px;
  }
  .ourTeam-card img{
    width: 70%;
    border-radius: 50%;
    border:  6px dotted #4d519d;
  }
  .ourTeam-card h3{
    padding-top: 2px;
    font-size: 15px;
    font-weight: bold;
  }
  .ourTeam-card h4 {
    font-weight: 500;
  }

}