
@media screen and (min-width:1366px){
    .happyclient-details{
        display:flex;
        margin-left:108px;
        margin-right:108px;
    }
    .happyvideos{
        display:flex;
        margin-left:108px;
        margin-right:108px;
    }
}
