img{
    width:100%;
}
.vision-main{
    position:relative;
    text-align:center;
    color:white;
}
.vision-content{
    position:absolute;
    text-align: center;
    top:18px;
}
h3{
    color:red;
    padding-top:150px;
}
.vision-sub-content{
    text-align:center;
    font-size:25px;
    font-weight:400;
    padding-left:20%;
    padding-right:20%;
    line-height:2;
}