.vision-content{
    position:absolute;
    text-align: center;
    top:20%;
    transform: translateY(-50%);

}
.vision-main{
    position:relative;
    text-align:center;
    color:white;
}
.vision-img{
    width:100%;
}
#company-heading{
    color:red;
    padding-top:150px;
}


@media screen and (min-width:998px){
    #company-heading{
        color:red;
        padding-top:150px;
    }
    .vision-sub-content{
        text-align:center;
        font-size:25px;
        font-weight:400;
        padding-left:20%;
        padding-right:20%;
        line-height:2;
    }

}
