@import "../../styles/variables";

.vision-content{
   
    position:absolute;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
}
.vision-main{
    background-image: url("./../CompanyVision/CompanyVision.svg");
    background-size: cover;
    position:relative;
    text-align:center;
    color:$white;
    height:20rem;
    
}
#vision-heading{
    
    color:$color-8;
}
@media screen and (min-width:998px){
    #vision-heading{   
        padding-top:150px;
    }
    .vision-sub-content{
        text-align:center;
        font-size:25px;
        font-weight:400;
        padding-left:20%;
        padding-right:20%;
    }
    .vision-content{
        top:20%;
    }

}
