.floorplan-main {
  background-color: #026b33;
  color: white;
  width: 100%;
  padding: 15px;
}
.floorplan-img1 {
  width: 100%;
  margin-bottom:20px;
}
.floorplan-img2 {
  width: 100%;
  margin-bottom:10px;
}
.floor1 {
  padding-right: 5px;
  border-bottom: 4px solid white;
  font-weight: 700;
  font-size: 25px;
  line-height: 39px;
}
.floor2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 39px;
}
.floor-plan{
  margin-bottom:15px;
}
.floorplan-text{
  margin-bottom:15px;
  margin-top:10px;
}

@media screen and (min-width: 998px) {
  .floor-plan{
    margin-top:60px;
    font-weight: 700;
font-size: 32px;
line-height: 39px;

  }
  .floorplan-main {
    height: 505px;
    position:relative;
    margin-bottom:150px;
    padding-left:40px;
  
  }
  .floorplan-text {
    margin-top: 68px;
    font-weight: 700;
    font-size: 32px;
    line-height: 135%;
  }
  .floorplan-img {
    display: flex;
    top:250px;
    margin-top:40px;
    &.white{
         .floorplan-img1{
          background:white;
        padding:22px 69px 23px 69px;
         }
         .floorplan-img2{
          background:white;
          padding:26px 107px 27px 107px;
         }
       }
  }
  .floorplan-img1{
    height: 345px;
  }
}

@media screen and (min-width:1200px){
  .floorplan-main{
    padding-left:70px;
  }
  .floorplan-img1 {
    width: 560px;
    height: 395px;
    margin-right:32px;

  }
  .floorplan-img2 {
    width: 558px;
    height: 394px;
  }
}
@media screen and (min-width:1440px){
  .floorplan-main{
    padding-left:108px;
    padding-right:108px;
  }
  .floorplan-img{
    width:100%;
    gap:32px;
  }
 
}
