// Mobile view
.banner-read-button {
  vertical-align: middle;
  position: relative;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  background-image: linear-gradient(to left, #db8511 0%, #e63940 100%);
  color: white;
  width: 150px;
  height: 50px;
  border-style: none;
  border-radius: 30px;
  margin:10px;

}
.banner-work-button {
  width: 150px;
  height: 50px;
  border-style: none;
  border-radius: 30px;
  background-image: linear-gradient(to left, #5ea2d5 0%, #2a7aac 100%);
  vertical-align: middle;
  position: relative;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  color: white;
  margin-left:10px;
}
.banner-work-button:hover{

}
.banner-left-text {
  line-height:1em;
  font-size:30px;
  margin:0;
  margin-bottom: 15px;
  font-weight:300;
  max-width:600px;
  padding-left:10px;
}
.banner-left-text-wrapper {
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1em;
  font-size: 30px;
  background: -webkit-linear-gradient(#db8511 0%, #e63940 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left:10px;
}
.banner-text-wrapper {
  font-size: 18px;
  font-weight: 300;
  padding-left:10px;
}
.banner-img{
  display:none;
}

//Desktop
@media screen and (min-width: 998px) {
  .banner-left-text {
    font-size:33px;
  }
  .banner-content1 {
    display: inline-block;
    letter-spacing: 0px;
    margin-top:100px;
  }
  .banner-left-text-wrapper {
    font-size:33px;
  }
  .banner-text {
    display: flex;
    align-items:center;
    justify-content: center;
  }
  .banner-text-wrapper {
    font-size:20px;
    font-weight:250;
  }
  .banner-img{
    display:block;
    max-width:100%;
  }
  .banner-wrapper{
    display:flex;
  }
  .banner-main{
    width:50%;


  }
 
}
@media screen and (min-width:1400px){
  .banner-left-text-wrapper {
    font-size:48px;
  }
  .banner-left-text {
    font-size:48px;
  }
}
